@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    --dark: #1F2937;
    --primary: #F9FAF8;
    --secondary: #E5E7Eb;
    --accent: #3882F6;
}


body {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    height: 100vh;
    margin: 0;
}

header,
article,
.quote,
.call-to-action,
footer {
    padding: 1rem min(8vw, 20em);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

header {
    min-height: 30rem;
    color: var(--primary);
    background: var(--dark);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5em;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--secondary);
    gap: 1em;
}

.nav-links > a {
    padding: .5em .75em;
    transition: background 200ms ease-in, color 200ms ease-in;
    border-radius: .5em;
}

.nav-links > a:hover {
    color: var(--dark);
    background: var(--primary);
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero > * {
    flex-basis: 50%;
}

.hero-main {
    font-size: 4rem;
    margin: 0;
}

.hero-secondary {
    font-size: 1.2rem;
    color: var(--secondary);
}

.btn {
    font-size: 1.3rem;
    font-weight: 600;
    padding: .5em 1.5em;
    cursor: pointer;
    transition: background 200ms ease-in, color 200ms ease-in;
    color: inherit;
    border: 0;
    border-radius: .5em;
    outline: 0;
    background: var(--accent);
}

.btn:hover {
    background: #2862B6;
}

.header-image-wrapper {
    display: grid;
    flex-basis: 30%;
    margin: 0 auto;
    background: #4b5563;
    place-items: center;
    aspect-ratio: 16 / 9;
}

article {
    display: grid;
    min-height: 30em;
    place-items: center;
}

article > h1 {
    font-size: 3em;
    color: var(--dark);
}

.cards {
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 7rem;
}

.card {
    display: flex;
    align-items: center;
    flex-basis: 20%;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

.select-dark-text::selection {
    color: var(--primary);
    background: var(--dark);
}

.select-light-text::selection {
    color: var(--dark);
    background: var(--primary);
}

.card > p {
    flex-grow: 1;
    text-align: center;
    color: #4b5563;
    justify-self: flex-start;
}

.card-img {
    width: 100%;
    border-radius: .5rem;
    outline: .3rem solid var(--accent);
    aspect-ratio: 1;
}

.quote {
    padding: 5rem;
    background: var(--secondary);
}

blockquote {
    font-size: 2.5rem;
    font-weight: 300;
    font-style: italic;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: var(--dark);
}

.quotee {
    margin: 1rem 0 0 0;
    text-align: right;
}

.call-to-action {
    display: grid;
    margin: 5rem 0;
    place-items: center;
}

.container-text > *::selection {
    color: var(--accent);
    background: var(--primary);
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 3rem 10rem;
    color: var(--primary);
    border-radius: .5em;
    background: var(--accent);
}

.container-text {
    display: flex;
    flex-direction: column;
}

.container-text > p {
    font-weight: 300;
}

.btn-invert {
    outline: .2rem solid var(--primary);
}

.btn-invert:hover {
    color: var(--accent);
    background: var(--primary);
}

footer {
    display: grid;
    color: var(--primary);
    background: var(--dark);
    place-items: center;
    padding-block: 2rem;
}